<table class="chain">
    <tr class="dots">
    {% for task in chain.task_set.all %}
        {% if task.actual_status == task.STOP_STATUS %}
        <td style="width: {{ task.duration }}px">
            <a href="#"><img src="{{ STATIC_URL }}todo/images/chain_stop.gif"/></a>
        </td>
        {% endif %}

        {% if task.actual_status == task.WAIT_STATUS %}
            {% if chain.actual_status != task.STOP_STATUS %}
            <td class="wait" style="width: {{ task.duration }}px">
                <a href="#"><img src="{{ STATIC_URL }}todo/images/chain_wait.gif"/></a>
                <small>{{ task.duration }}<br/><br/></small>
            </td>
            {% else %}
            <td style="width: {{ task.duration }}px">
                <a href="#"><img src="{{ STATIC_URL }}todo/images/chain_wait.gif"/></a>
            </td>
            {% endif %}
        {% endif %}

        {% if task.actual_status == task.WORK_STATUS %}
        <td class="wait" style="width: {{ task.duration }}px">
            <a href="#"><img src="{{ STATIC_URL }}todo/images/chain_work.gif"/></a>
            <small>
                {{ task.duration }}<br/><br/>
                {% if task.be_in_time %}
                    <b class="taskgood">{{ task.expended_days }}</b>
                {% else %}
                    <b class="taskbad">{{ task.expended_days }}</b>
                {% endif %}
            </small>
        </td>
        {% endif %}

        {% if task.actual_status == task.DONE_STATUS %}
        <td class="done" style="width: {{ task.duration }}px">
            <a href="#"><img src="{{ STATIC_URL }}todo/images/chain_done.gif"/></a>
            <small>
                {{ task.duration }}<br/><br/>
                {% if task.be_in_time %}
                    <b class="taskgood">{{ task.expended_days }}</b>
                {% else %}
                    <b class="taskbad">{{ task.expended_days }}</b>
                {% endif %}
            </small>
        </td>
        {% endif %}
    {% endfor %}
    </tr>

    <tr class="people">
    {% for task in chain.task_set.all %}
        <td>
            {{ task.worker.first_name }} {{ task.worker.last_name }}<br/>
            <small>{{ task.worker.get_profile.post }}</small>
        </td>
    {% endfor %}
    </tr>
</table>
